.vs/
Debug/
Release/
ipch/
nek.opensdf
nek.sdf
nek.VC.VC.opendb
nek.VC.db
nek.v11.suo
nek.v12.suo

nek/Debug/
nek/Release/
nek/packages.config
nek.vcxproj.filters
nek.vcxproj.user

test/Debug/
test/Release/
test/packages.config
test/test.vcxproj.filters
test/test.vcxproj.user

packages/
